
.container-fluid{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header{
    position: relative;
    margin: 0;
    padding-top: 0px;
}
#nav{
    background-color: azure;
}

.home-tab-pane{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.card{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

body {
    margin: 50px;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
    justify-content: center;
    border-bottom: none;
  }
  
  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    border-bottom:none;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }
  body{
    background-color: #E3FEF7;
    transition: opacity 0.5s ease-in-out;
}