.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line */
  margin-top: 20px;
}
.content {
  flex: 1; /* Let content take remaining space */
  margin-left: 10px; /* Adjusted margin for better spacing */ /* Adjusted margin for better spacing */
  width: 100%;
}
.sidebar {
  color: white;
  flex: 0 0 100%; /* Sidebar should take full width on small screens */
  width: 100%; /* Adjusted width for small screens */
  max-width: 200px; /* Limited maximum width */
  background: #496989;
  margin-top: 15px;
}

.content ul li {
  list-style-type: none;
}
.sidebar ul li {
  list-style-type: none;
}
.info {
  color: black;
  background: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.summary1 {
  color: black;
  background: white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}
