body {
  background-color: #e3fef7;
  transition: opacity 0.5s ease-in-out;
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 17px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link {
  background-color: transparent;
  border: none;
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link:hover {
  background-color: #e3fef7;
  border: none;
  border-radius: 35px;
  box-shadow: 5px;
}

.tag-btn {
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tag-btn:hover {
  background-color: #e0e0e0;
}

.tag-btn,
#selected-tags span {
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
}

#selected-tags button {
  margin-left: 5px;
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}
.text-success {
  color: green;
}

.text-danger {
  color: red;
}
.form-control {
  margin-bottom: 10px;
}
